In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
AAPL_Stock = pd.read_csv("AAPL_Stock-2018-2023.csv") # Read in AAPL stock prices from 2018-2023
AAPL_Stock.head()

         Date Close/Last    Volume     Open     High       Low
0  12/12/2023    $194.71  52696900  $193.08  $194.72  $191.721
1  12/11/2023    $193.18  60943700  $193.11  $193.49   $191.42
2  12/08/2023    $195.71  53406360  $194.20  $195.99   $193.67
3  12/07/2023    $194.27  47477660  $193.63  $195.00   $193.59
4  12/06/2023    $192.32  41089740  $194.45  $194.76   $192.11